﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div>
    <div class="row page-header" id="header">
        <div class="col-md-1">
            <img src="~/Content/images/logo.png" id="logo" style="width: 5vw; height:5vw" onclick="location.href='@Url.Action("Index","Article")'" />
        </div>
        <div class=" col-md-11 modal-title">
            <h2>Homework</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 login">
                @RenderBody()
            </div>
        </div>
        <div class="col-md-12 modal-footer">
            &copy; GreyWolf @DateTime.Now.Year - <a href="#header">Back to top</a>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>