﻿@using Contracts.Entities
@using GreyApplication.Helpers
@model WebSite.Models.QuizModel
<h4>Quiz</h4>
@using (Html.BeginForm("Detail","Quiz",FormMethod.Post))
{
    <input type="hidden" name="quizId" value="@Model.Id"/>
    foreach (var question in Model.Questions)
    {
        <p>
            @Html.DisplayFor(q => question.NumberOfQuestion).@Html.DisplayFor(q => question.Text)
        </p>
        switch (question.Type)
        {
            case QuestionType.Text:
                <input type="text",name="@question.NumberOfQuestion"/>
                break;
            case QuestionType.RadioButton:
                @Html.CreateRBList(question.Variants)
                break;
            case QuestionType.SelectOne:
                @Html.CreateComboBoxList(question.Variants, question.NumberOfQuestion)
                break;
            case QuestionType.SelectMultiple:
                @Html.CreateCheckBoxList(question.Variants)
                break;
        }
    }
    <input type="submit" value="Send"/>
}