﻿@using Contracts.Entities
@using GreyApplication.Helpers
@model WebSite.Models.QuizModel
@{
    ViewBag.Title = Model.Title;
}
<h2>@Html.DisplayFor(x=>x.Title)</h2>

@using (Html.BeginForm("Detail", "Quiz", FormMethod.Post))
{
    <input type="hidden" name="quizId" value=@Model.Id />
    foreach (var item in Model.Questions)
    {
        <hr />
        @Html.DisplayFor(q => item.NumberOfQuestion)
        <span>.</span>
        @Html.DisplayFor(q => item.Text)

        switch (item.Type)
        {
            case QuestionType.Text:
                <input type="text" name="@item.NumberOfQuestion" />
                break;
            case QuestionType.RadioButton:
                @Html.CreateRBList(item.Variants)
                break;
            case QuestionType.SelectOne:
                @Html.CreateComboBoxList(item.Variants, item.NumberOfQuestion)
                break;
            case QuestionType.SelectMultiple:
                @Html.CreateCheckBoxList(item.Variants)
                break;
            default:
                foreach (var variant in item.Variants)
                {
                    @Html.DisplayFor(z => variant.Text)
                }
                break;
        }
        <hr />
    }
    <input type="submit" class="btn btn-default" value="Send" />
}
