﻿@model IEnumerable<WebSite.Models.QuizModel>
@{
    ViewBag.Title = "Index";
}

<h2>Available quizzes</h2>
@foreach (var q in Model)
{
    <div class="blank">
        <h4>@Html.ActionLink(q.Title, "Detail", new {id = q.Id})</h4>
    </div>
}

