﻿@model WebSite.Models.QuizModel
@{
    ViewBag.Title = "Statistics";
}

<h2>@Model.Title</h2>
<h3>Count of user passes: @Html.ViewBag.CountOfUsers</h3>
<hr/>
@foreach(var question in Model.Questions)
{
    <h4>@Html.DisplayFor(q=>question.Text)</h4>
    foreach (var answer in question.Variants)
    {
        <p>@Html.DisplayFor(a=>answer.Text) - @Html.DisplayFor(a=>answer.CountOfUse) vote(s) 
            (@Html.DisplayFor(a=>answer.PercentOfUsage)%)</p>
    }
    <hr/>
}
@Html.ActionLink("Back to Articles","Index","Article");