﻿@model WebSite.Models.LoginModel

@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml" ;
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div class="panel-body form-group">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Login)
                </td>
                <td>
                    @Html.EditorFor(model => model.Login)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password)
                </td>
            </tr>
        </table>
        <input type="submit" value="Login"/>
    </div>
}
