﻿@using WebSite.Models
@model WebSite.Models.ArticleModel
@{
    ViewBag.Title = Model.Title;
}


<h4>@Html.DisplayFor(x => x.Title)</h4>
<p>
    @Html.DisplayNameFor(x => x.Author):
    <strong>@Html.DisplayFor(x => x.Author)</strong>
    <strong>@Html.DisplayFor(x => x.PublicationDate)</strong>
</p>
<p>
    @foreach (var t in Model.Tags)
    {
        <span>@Html.ActionLink(t.Text, "Index", new {tagId = t.Id}) </span>
    }
</p>
<br />
<p>
    @Html.DisplayFor(x => x.Text)
</p>
@if (Model.Comments != null)
{
    foreach (var comment in Model.Comments)
    {
        @Html.Partial("PartialComments", comment);
    }
}
<div>
    @Html.Partial("PartialAddComment",new CommentModel(){ArticleId = Model.Id, ParentId = null})
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

