﻿@model IEnumerable<WebSite.Models.ArticleModel>

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>
@foreach (var item in Model)
{
    <div class="article">
        <h4>@Html.ActionLink(item.Title, "Detail", new { id = item.Id })</h4>
        <span>
            @Html.DisplayNameFor(x => x.Author):
            <strong>@Html.DisplayFor(x => item.Author) @Html.DisplayFor(x => item.PublicationDate)</strong><br />
        </span>
        <p>
            @foreach (var tag in item.Tags)
            {
                <span>@Html.ActionLink(tag.Text,"Index",new{tagId = tag.Id}), </span>
            }
        </p>
        <p>@Html.DisplayFor(x => item.Text).ToString().Substring(0, 200) @Html.ActionLink("read more...", "Detail", new { id = item.Id })</p>
    </div>
}
