﻿@model WebSite.Models.CommentModel
<script src="~/Scripts/CommentScripts.js"></script>
<div class="comment-container">
        <span>
            @Html.DisplayFor(x => x.Author) @Html.DisplayFor(x => x.Date)
        </span>
        @if (Model.LevelOfNesting < 2)
        {
            <p>
                <a href="#comment" onclick="setParentForComment(@Model.Id)">Reply</a>
            </p>
        }
        <p>
            @Html.DisplayFor(x => x.Text)
        </p>
@if (Model.ChildComments != null)
{
    foreach (var comment in Model.ChildComments)
    {
        @Html.Partial("PartialComments", comment)
    }
}
</div>