﻿body {
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 80%;
    white-space: pre-wrap;
}

#header {
    background-color: royalblue;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    color: azure;
    width: 100vw;
    user-select: none;
    cursor: default;
}

.container {
    background-color: lightgray;
    color: black;
    margin-top: 0;
}

#logo {
    height: 5vw;
    width: 5vw;
    cursor: pointer;
}


.feedback,
.article,
.blank .pass {
    border-bottom: 1px solid darkgrey;
    margin: 5px 0;
}

.login {
    text-align: center;
}
.login input {
    margin: auto;
}

textarea {
    white-space: normal;
}

.comment-container {
    position: relative;
    border-left: 2px solid rgb(80, 80, 227);
    border-top: 1px solid rgb(80, 80, 227);
    padding-left: 5px;
}
.comment-container .comment-container {
    margin-left: 2%;
    border-top-style: dashed;
}

textarea {
    resize: none;
}