﻿@model WebSite.Models.QuizPassModel
@{
    ViewBag.Title = "Details of pass";
}

<h3>@Html.DisplayFor(model=>model.QuizTitle)</h3>
<p>Author: @Html.DisplayFor(model=>model.Author)</p>
@foreach (var answer in Model.Answers)
{
    <div>
        <p>
            <strong>@Html.DisplayFor(x => answer.Question)</strong>
        </p>
        <p>@Html.DisplayFor(x => answer.Answer)</p>
    </div>
}

