﻿@model IEnumerable<WebSite.Models.QuizPassModel>
@{
    ViewBag.Title = "Index";
}

<h2>Passes of quizzes</h2>

@foreach (var pass in Model)
{
    <p>
        <strong>@Html.DisplayFor(x => pass.Author)</strong>
    </p>
    <h4>@Html.ActionLink(pass.QuizTitle, "Detail", new {id = pass.Id})</h4>
}