﻿@using WebSite.Models
@model IEnumerable<WebSite.Models.FeedbackModel>

@{
    ViewBag.Title = "Feedbacks";
}

<h2>Feedbacks</h2>

@foreach (var item in Model)
{
    <div class="feedback">
        @Html.DisplayFor(modelItem => item.PublicationDate)<br />
        <strong>@Html.DisplayFor(modelItem => item.Author):</strong>
        @Html.DisplayFor(modelItem => item.Text)
    </div>
}

<div class="container">
    <h3> Add your feedback: </h3>
    @Html.Partial("PartialAdd",new FeedbackModel {PublicationDate = DateTime.UtcNow})
</div>