﻿@model WebSite.Models.FeedbackModel
@using (Html.BeginForm("Index", "FeedBack", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Author)</td>
            <td>@Html.EditorFor(model => model.Author)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Text)</td>
            <td>@Html.TextAreaFor(model => model.Text, new { @class = "form-control",rows = "5", cols = "100" })</td>
        </tr>
        <tr>
            <td colspan="2">@Html.HiddenFor(model => model.PublicationDate, new { value = DateTime.UtcNow.ToLongDateString() })</td>
        </tr>
    </table>
    <input type="submit" value="Send" class="btn btn-default" />
}